@using MachForm.NetCore.Models.MainSettings;
@using MachForm.NetCore.Services.Auth
@using MachForm.NetCore.Services.Permissions
@using Microsoft.Extensions.Options
@using System.Security.Claims

@inject IOptions<MainSettingsViewModel> Settings;
@inject IHttpContextAccessor ContextAccessor;
@inject IPermissionService _permissionService;
@inject IUserService _userService;


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MachForm.NetCore</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MachForm.NetCore.styles.css" asp-append-version="true" />

	<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">

	<link rel="stylesheet" type="text/css" href="~/css/main.css" asp-append-version="true" media="screen">
	<link rel="stylesheet" type="text/css" href="~/css/main.mobile.css" asp-append-version="true" media="screen">
	<link rel="stylesheet" type="text/css" href="~/css/bb_buttons.css" asp-append-version="true" media="screen">

	<link type="text/css" href="~/css/pagination_classic.css" asp-append-version="true" rel="stylesheet">
	<link type="text/css" href="~/css/dropui.css" asp-append-version="true" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="~/css/override.css" asp-append-version="true" media="screen">

	@{
		var activeAdminTheme = ViewBag.ActiveAdminTheme ?? Settings.Value.General.AdminTheme;
		string currentNavTab = ViewBag.CurrentNavTab ?? "manage_forms";

		if (!string.IsNullOrEmpty(activeAdminTheme))
		{
			if (currentNavTab == "edit_theme" && activeAdminTheme == "dark")
			{
				<link href="~/css/themes/theme_dark_edit_theme.css" asp-append-version="true" rel="stylesheet" type="text/css" />
			}
			else
			{
				<link href="~/css/themes/theme_@(activeAdminTheme).css" asp-append-version="true" rel="stylesheet" type="text/css" />
			}
		}
		else
		{
			<link href="~/css/themes/theme_vibrant.css" asp-append-version="true" rel="stylesheet" type="text/css" />
		}
	}

	<style>
		body {
			transition: opacity ease-in 0.2s;
		}

			body[unresolved] {
				opacity: 0;
				display: block;
				overflow: hidden;
				position: relative;
			}
	</style>
	<style type="text/css" data-tippy-stylesheet="">
		.tippy-iOS {
			cursor: pointer !important;
			-webkit-tap-highlight-color: transparent
		}

		.tippy-popper {
			transition-timing-function: cubic-bezier(.165,.84,.44,1);
			max-width: calc(100% - 8px);
			pointer-events: none;
			outline: 0
		}

			.tippy-popper[x-placement^=top] .tippy-backdrop {
				border-radius: 40% 40% 0 0
			}

			.tippy-popper[x-placement^=top] .tippy-roundarrow {
				bottom: -7px;
				bottom: -6.5px;
				-webkit-transform-origin: 50% 0;
				transform-origin: 50% 0;
				margin: 0 3px
			}

				.tippy-popper[x-placement^=top] .tippy-roundarrow svg {
					position: absolute;
					left: 0;
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg)
				}

			.tippy-popper[x-placement^=top] .tippy-arrow {
				border-top: 8px solid #333;
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				bottom: -7px;
				margin: 0 3px;
				-webkit-transform-origin: 50% 0;
				transform-origin: 50% 0
			}

			.tippy-popper[x-placement^=top] .tippy-backdrop {
				-webkit-transform-origin: 0 25%;
				transform-origin: 0 25%
			}

				.tippy-popper[x-placement^=top] .tippy-backdrop[data-state=visible] {
					-webkit-transform: scale(1) translate(-50%,-55%);
					transform: scale(1) translate(-50%,-55%)
				}

				.tippy-popper[x-placement^=top] .tippy-backdrop[data-state=hidden] {
					-webkit-transform: scale(.2) translate(-50%,-45%);
					transform: scale(.2) translate(-50%,-45%);
					opacity: 0
				}

			.tippy-popper[x-placement^=top] [data-animation=shift-toward][data-state=visible] {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px)
			}

			.tippy-popper[x-placement^=top] [data-animation=shift-toward][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(-20px);
				transform: translateY(-20px)
			}

			.tippy-popper[x-placement^=top] [data-animation=perspective] {
				-webkit-transform-origin: bottom;
				transform-origin: bottom
			}

				.tippy-popper[x-placement^=top] [data-animation=perspective][data-state=visible] {
					-webkit-transform: perspective(700px) translateY(-10px) rotateX(0);
					transform: perspective(700px) translateY(-10px) rotateX(0)
				}

				.tippy-popper[x-placement^=top] [data-animation=perspective][data-state=hidden] {
					opacity: 0;
					-webkit-transform: perspective(700px) translateY(0) rotateX(60deg);
					transform: perspective(700px) translateY(0) rotateX(60deg)
				}

			.tippy-popper[x-placement^=top] [data-animation=fade][data-state=visible] {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px)
			}

			.tippy-popper[x-placement^=top] [data-animation=fade][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px)
			}

			.tippy-popper[x-placement^=top] [data-animation=shift-away][data-state=visible] {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px)
			}

			.tippy-popper[x-placement^=top] [data-animation=shift-away][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(0);
				transform: translateY(0)
			}

			.tippy-popper[x-placement^=top] [data-animation=scale] {
				-webkit-transform-origin: bottom;
				transform-origin: bottom
			}

				.tippy-popper[x-placement^=top] [data-animation=scale][data-state=visible] {
					-webkit-transform: translateY(-10px) scale(1);
					transform: translateY(-10px) scale(1)
				}

				.tippy-popper[x-placement^=top] [data-animation=scale][data-state=hidden] {
					opacity: 0;
					-webkit-transform: translateY(-10px) scale(.5);
					transform: translateY(-10px) scale(.5)
				}

			.tippy-popper[x-placement^=bottom] .tippy-backdrop {
				border-radius: 0 0 30% 30%
			}

			.tippy-popper[x-placement^=bottom] .tippy-roundarrow {
				top: -7px;
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				margin: 0 3px
			}

				.tippy-popper[x-placement^=bottom] .tippy-roundarrow svg {
					position: absolute;
					left: 0;
					-webkit-transform: rotate(0);
					transform: rotate(0)
				}

			.tippy-popper[x-placement^=bottom] .tippy-arrow {
				border-bottom: 8px solid #333;
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				top: -7px;
				margin: 0 3px;
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%
			}

			.tippy-popper[x-placement^=bottom] .tippy-backdrop {
				-webkit-transform-origin: 0 -50%;
				transform-origin: 0 -50%
			}

				.tippy-popper[x-placement^=bottom] .tippy-backdrop[data-state=visible] {
					-webkit-transform: scale(1) translate(-50%,-45%);
					transform: scale(1) translate(-50%,-45%)
				}

				.tippy-popper[x-placement^=bottom] .tippy-backdrop[data-state=hidden] {
					-webkit-transform: scale(.2) translate(-50%);
					transform: scale(.2) translate(-50%);
					opacity: 0
				}

			.tippy-popper[x-placement^=bottom] [data-animation=shift-toward][data-state=visible] {
				-webkit-transform: translateY(10px);
				transform: translateY(10px)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=shift-toward][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(20px);
				transform: translateY(20px)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=perspective] {
				-webkit-transform-origin: top;
				transform-origin: top
			}

				.tippy-popper[x-placement^=bottom] [data-animation=perspective][data-state=visible] {
					-webkit-transform: perspective(700px) translateY(10px) rotateX(0);
					transform: perspective(700px) translateY(10px) rotateX(0)
				}

				.tippy-popper[x-placement^=bottom] [data-animation=perspective][data-state=hidden] {
					opacity: 0;
					-webkit-transform: perspective(700px) translateY(0) rotateX(-60deg);
					transform: perspective(700px) translateY(0) rotateX(-60deg)
				}

			.tippy-popper[x-placement^=bottom] [data-animation=fade][data-state=visible] {
				-webkit-transform: translateY(10px);
				transform: translateY(10px)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=fade][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(10px);
				transform: translateY(10px)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=shift-away][data-state=visible] {
				-webkit-transform: translateY(10px);
				transform: translateY(10px)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=shift-away][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateY(0);
				transform: translateY(0)
			}

			.tippy-popper[x-placement^=bottom] [data-animation=scale] {
				-webkit-transform-origin: top;
				transform-origin: top
			}

				.tippy-popper[x-placement^=bottom] [data-animation=scale][data-state=visible] {
					-webkit-transform: translateY(10px) scale(1);
					transform: translateY(10px) scale(1)
				}

				.tippy-popper[x-placement^=bottom] [data-animation=scale][data-state=hidden] {
					opacity: 0;
					-webkit-transform: translateY(10px) scale(.5);
					transform: translateY(10px) scale(.5)
				}

			.tippy-popper[x-placement^=left] .tippy-backdrop {
				border-radius: 50% 0 0 50%
			}

			.tippy-popper[x-placement^=left] .tippy-roundarrow {
				right: -12px;
				-webkit-transform-origin: 33.33333333% 50%;
				transform-origin: 33.33333333% 50%;
				margin: 3px 0
			}

				.tippy-popper[x-placement^=left] .tippy-roundarrow svg {
					position: absolute;
					left: 0;
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg)
				}

			.tippy-popper[x-placement^=left] .tippy-arrow {
				border-left: 8px solid #333;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				right: -7px;
				margin: 3px 0;
				-webkit-transform-origin: 0 50%;
				transform-origin: 0 50%
			}

			.tippy-popper[x-placement^=left] .tippy-backdrop {
				-webkit-transform-origin: 50% 0;
				transform-origin: 50% 0
			}

				.tippy-popper[x-placement^=left] .tippy-backdrop[data-state=visible] {
					-webkit-transform: scale(1) translate(-50%,-50%);
					transform: scale(1) translate(-50%,-50%)
				}

				.tippy-popper[x-placement^=left] .tippy-backdrop[data-state=hidden] {
					-webkit-transform: scale(.2) translate(-75%,-50%);
					transform: scale(.2) translate(-75%,-50%);
					opacity: 0
				}

			.tippy-popper[x-placement^=left] [data-animation=shift-toward][data-state=visible] {
				-webkit-transform: translateX(-10px);
				transform: translateX(-10px)
			}

			.tippy-popper[x-placement^=left] [data-animation=shift-toward][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(-20px);
				transform: translateX(-20px)
			}

			.tippy-popper[x-placement^=left] [data-animation=perspective] {
				-webkit-transform-origin: right;
				transform-origin: right
			}

				.tippy-popper[x-placement^=left] [data-animation=perspective][data-state=visible] {
					-webkit-transform: perspective(700px) translateX(-10px) rotateY(0);
					transform: perspective(700px) translateX(-10px) rotateY(0)
				}

				.tippy-popper[x-placement^=left] [data-animation=perspective][data-state=hidden] {
					opacity: 0;
					-webkit-transform: perspective(700px) translateX(0) rotateY(-60deg);
					transform: perspective(700px) translateX(0) rotateY(-60deg)
				}

			.tippy-popper[x-placement^=left] [data-animation=fade][data-state=visible] {
				-webkit-transform: translateX(-10px);
				transform: translateX(-10px)
			}

			.tippy-popper[x-placement^=left] [data-animation=fade][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(-10px);
				transform: translateX(-10px)
			}

			.tippy-popper[x-placement^=left] [data-animation=shift-away][data-state=visible] {
				-webkit-transform: translateX(-10px);
				transform: translateX(-10px)
			}

			.tippy-popper[x-placement^=left] [data-animation=shift-away][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(0);
				transform: translateX(0)
			}

			.tippy-popper[x-placement^=left] [data-animation=scale] {
				-webkit-transform-origin: right;
				transform-origin: right
			}

				.tippy-popper[x-placement^=left] [data-animation=scale][data-state=visible] {
					-webkit-transform: translateX(-10px) scale(1);
					transform: translateX(-10px) scale(1)
				}

				.tippy-popper[x-placement^=left] [data-animation=scale][data-state=hidden] {
					opacity: 0;
					-webkit-transform: translateX(-10px) scale(.5);
					transform: translateX(-10px) scale(.5)
				}

			.tippy-popper[x-placement^=right] .tippy-backdrop {
				border-radius: 0 50% 50% 0
			}

			.tippy-popper[x-placement^=right] .tippy-roundarrow {
				left: -12px;
				-webkit-transform-origin: 66.66666666% 50%;
				transform-origin: 66.66666666% 50%;
				margin: 3px 0
			}

				.tippy-popper[x-placement^=right] .tippy-roundarrow svg {
					position: absolute;
					left: 0;
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg)
				}

			.tippy-popper[x-placement^=right] .tippy-arrow {
				border-right: 8px solid #333;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				left: -7px;
				margin: 3px 0;
				-webkit-transform-origin: 100% 50%;
				transform-origin: 100% 50%
			}

			.tippy-popper[x-placement^=right] .tippy-backdrop {
				-webkit-transform-origin: -50% 0;
				transform-origin: -50% 0
			}

				.tippy-popper[x-placement^=right] .tippy-backdrop[data-state=visible] {
					-webkit-transform: scale(1) translate(-50%,-50%);
					transform: scale(1) translate(-50%,-50%)
				}

				.tippy-popper[x-placement^=right] .tippy-backdrop[data-state=hidden] {
					-webkit-transform: scale(.2) translate(-25%,-50%);
					transform: scale(.2) translate(-25%,-50%);
					opacity: 0
				}

			.tippy-popper[x-placement^=right] [data-animation=shift-toward][data-state=visible] {
				-webkit-transform: translateX(10px);
				transform: translateX(10px)
			}

			.tippy-popper[x-placement^=right] [data-animation=shift-toward][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(20px);
				transform: translateX(20px)
			}

			.tippy-popper[x-placement^=right] [data-animation=perspective] {
				-webkit-transform-origin: left;
				transform-origin: left
			}

				.tippy-popper[x-placement^=right] [data-animation=perspective][data-state=visible] {
					-webkit-transform: perspective(700px) translateX(10px) rotateY(0);
					transform: perspective(700px) translateX(10px) rotateY(0)
				}

				.tippy-popper[x-placement^=right] [data-animation=perspective][data-state=hidden] {
					opacity: 0;
					-webkit-transform: perspective(700px) translateX(0) rotateY(60deg);
					transform: perspective(700px) translateX(0) rotateY(60deg)
				}

			.tippy-popper[x-placement^=right] [data-animation=fade][data-state=visible] {
				-webkit-transform: translateX(10px);
				transform: translateX(10px)
			}

			.tippy-popper[x-placement^=right] [data-animation=fade][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(10px);
				transform: translateX(10px)
			}

			.tippy-popper[x-placement^=right] [data-animation=shift-away][data-state=visible] {
				-webkit-transform: translateX(10px);
				transform: translateX(10px)
			}

			.tippy-popper[x-placement^=right] [data-animation=shift-away][data-state=hidden] {
				opacity: 0;
				-webkit-transform: translateX(0);
				transform: translateX(0)
			}

			.tippy-popper[x-placement^=right] [data-animation=scale] {
				-webkit-transform-origin: left;
				transform-origin: left
			}

				.tippy-popper[x-placement^=right] [data-animation=scale][data-state=visible] {
					-webkit-transform: translateX(10px) scale(1);
					transform: translateX(10px) scale(1)
				}

				.tippy-popper[x-placement^=right] [data-animation=scale][data-state=hidden] {
					opacity: 0;
					-webkit-transform: translateX(10px) scale(.5);
					transform: translateX(10px) scale(.5)
				}

		.tippy-tooltip {
			position: relative;
			color: #fff;
			border-radius: .25rem;
			font-size: .875rem;
			padding: .3125rem .5625rem;
			line-height: 1.4;
			text-align: center;
			background-color: #333
		}

			.tippy-tooltip[data-size=small] {
				padding: .1875rem .375rem;
				font-size: .75rem
			}

			.tippy-tooltip[data-size=large] {
				padding: .375rem .75rem;
				font-size: 1rem
			}

			.tippy-tooltip[data-animatefill] {
				overflow: hidden;
				background-color: transparent
			}

			.tippy-tooltip[data-interactive], .tippy-tooltip[data-interactive] path {
				pointer-events: auto
			}

			.tippy-tooltip[data-inertia][data-state=visible] {
				transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
			}

			.tippy-tooltip[data-inertia][data-state=hidden] {
				transition-timing-function: ease
			}

		.tippy-arrow, .tippy-roundarrow {
			position: absolute;
			width: 0;
			height: 0
		}

		.tippy-roundarrow {
			width: 18px;
			height: 7px;
			fill: #333;
			pointer-events: none
		}

		.tippy-backdrop {
			position: absolute;
			background-color: #333;
			border-radius: 50%;
			width: calc(110% + 2rem);
			left: 50%;
			top: 50%;
			z-index: -1;
			transition: all cubic-bezier(.46,.1,.52,.98);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden
		}

			.tippy-backdrop:after {
				content: "";
				float: left;
				padding-top: 100%
			}

			.tippy-backdrop + .tippy-content {
				transition-property: opacity;
				will-change: opacity
			}

				.tippy-backdrop + .tippy-content[data-state=visible] {
					opacity: 1
				}

				.tippy-backdrop + .tippy-content[data-state=hidden] {
					opacity: 0
				}</style>
	<style>
		.dropui-menu li a {
			padding: 2px 0 2px 27px;
			font-size: 115%;
		}

		.dropui .dropui-tab {
			font-size: 95%;
		}

		.uploadifive-queue-item {
			border: none !important;
		}

		#uploadifive_upload_mf_form_import_file {
			z-index: 1999 !important;
		}

		#uploadifive-mf_form_import_file {
			margin: 0 auto !important;
		}
	</style>

	@await RenderSectionAsync("Styles", required: false)

</head>
<body>
	<div id="bg">
		<header id="header">
			<div id="header_content">

				<div id="logo">
					<span class="logo_helper"></span>
					@{
						var machformLogoMain = "";

						var request = ContextAccessor.HttpContext?.Request;
						var baseUrl = $"{request?.Scheme}://{request?.Host}{request?.PathBase}";

						if (!string.IsNullOrWhiteSpace(Settings.Value.General.AdminImageUrl))
						{
							machformLogoMain = Html.Encode(Settings.Value.General.AdminImageUrl);
							<img class="title" src="@($"{baseUrl}/{machformLogoMain}")" style="margin-left: 8px;" />
						}
						else
						{
							if (!string.IsNullOrWhiteSpace(Settings.Value.General.AdminTheme))
							{
								// machformLogoMain = $"{baseUrl}/images/machform_logo_{Settings.Value.General.AdminTheme}.png";
								machformLogoMain = $"{baseUrl}/images/machform_logo.png";
							}
							else
							{
								machformLogoMain = $"{baseUrl}/images/machform_logo_vibrant.png";
							}

							<img class="title" src="@(machformLogoMain)" style="margin-left: 8px;width: 180px" alt="MachForm" />
						}
					}

				</div>

				@{
					//currentNavTab = ViewBag.CurrentNavTab ?? "manage_forms";
					var curNavTab = ViewBag.CurrentNavTab == "manage_forms" ? "current_page_item" : "";
				}
				<div id="header_primary">
					<div class="nav_manage_forms @(curNavTab)">
						<a href="@Url.Action("Index", "ManageForms")"><span class="icon-document2"></span> <h6>Forms</h6></a>
					</div>
					@{
						var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
						var perm = _permissionService.GetUserPrivileges(userId);
					}
					@* @if ( Model..HasPrivilege("priv_new_themes"))
					@* @if (User.HasPrivilege("priv_new_themes")) *@
					@*{
						<div class="nav_themes @(currentNavTab == "edit_theme" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "EditTheme")" title="Edit Themes"><span class="icon-magic-wand"></span> <h6>Themes</h6></a>
						</div>
					}

					@if (User.HasPrivilege("priv_administer"))
					{
						<div class="nav_users @(currentNavTab == "users" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "ManageUsers")" title="Users"><span class="icon-user1"></span> <h6>Users</h6></a>
						</div>
						<div class="nav_settings @(currentNavTab == "main_settings" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "MainSettings")" title="Settings"><span class="icon-cog"></span> <h6>Settings</h6></a>
						</div>
					}*@
					@{
						var curtNavTab = ViewBag.CurrentNavTab == "my_account" ? "current_page_item" : "";
					}

					<div class="nav_account @(curtNavTab)">
						<a href="@Url.Action("Index", "MyAccount")" title="My Account"><span class="icon-briefcase"></span> <h6>Account</h6></a>
					</div>
				</div>

				<div id="header_secondary">
					<div class="nav_logout">
						<a href="@Url.Action("Logout", "Account")" title="Sign Out"><span class="icon-exit1"></span> <h6>Sign Out</h6></a>
					</div>

					@*@if (User.HasPrivilege("priv_administer"))
					{
						<div class="nav_help">
							<a href="https://docs.machform.com" target="_blank" title="Help"><span class="icon-bubble-question"></span> <h6>Help</h6></a>
						</div>
					}
 *@
					@if (Settings.Value.General.CustomerName == "unregistered")
					{
						<div id="unregistered_license">
							<h6>UNREGISTERED LICENSE</h6>
						</div>
					}
				</div>
			</div>
		</header>
		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

		<div id="footer">
			<p class="copyright">Copyright &copy; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> 2007-@DateTime.Now.Year</p>
			<div class="clear"></div>
		</div><!-- /#footer -->

	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
