@using MachForm.NetCore.Models.MainSettings;
@using MachForm.NetCore.Services.Auth
@using MachForm.NetCore.Services.Permissions
@using Microsoft.Extensions.Options
@using System.Security.Claims

@inject IOptions<MainSettingsViewModel> Settings;
@inject IHttpContextAccessor ContextAccessor;
@inject IPermissionService _permissionService;
@inject IUserService _userService;


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MachForm.NetCore</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MachForm.NetCore.styles.css" asp-append-version="true" />

	<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">

	<link rel="stylesheet" type="text/css" href="~/css/main.css" asp-append-version="true" media="screen">
	<link rel="stylesheet" type="text/css" href="~/css/main.mobile.css" asp-append-version="true" media="screen">
	<link rel="stylesheet" type="text/css" href="~/css/bb_buttons.css" asp-append-version="true" media="screen">

	<link type="text/css" href="~/css/pagination_classic.css" asp-append-version="true" rel="stylesheet">
	<link type="text/css" href="~/css/dropui.css" asp-append-version="true" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="~/css/override.css" asp-append-version="true" media="screen">

	<link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" media="screen">

	@{
		var activeAdminTheme = ViewBag.ActiveAdminTheme ?? Settings.Value.General.AdminTheme;
		string currentNavTab = ViewBag.CurrentNavTab ?? "manage_forms";

		if (!string.IsNullOrEmpty(activeAdminTheme))
		{
			if (currentNavTab == "edit_theme" && activeAdminTheme == "dark")
			{
				<link href="~/css/themes/theme_dark_edit_theme.css" asp-append-version="true" rel="stylesheet" type="text/css" />
			}
			else
			{
				<link href="~/css/themes/theme_@(activeAdminTheme).css" asp-append-version="true" rel="stylesheet" type="text/css" />
			}
		}
		else
		{
			<link href="~/css/themes/theme_vibrant.css" asp-append-version="true" rel="stylesheet" type="text/css" />
		}
	}

	@await RenderSectionAsync("Styles", required: false)

</head>
<body>
	<div id="bg">
		<header id="header">
			<div id="header_content">

				<div id="logo">
					<span class="logo_helper"></span>
					<a asp-controller="ManageForms" asp-action="/">
						@{
							var machformLogoMain = "";

							var request = ContextAccessor.HttpContext?.Request;
							var baseUrl = $"{request?.Scheme}://{request?.Host}{request?.PathBase}";

							if (!string.IsNullOrWhiteSpace(Settings.Value.General.AdminImageUrl))
							{
								machformLogoMain = Html.Encode(Settings.Value.General.AdminImageUrl);
								<img class="title" src="@($"{baseUrl}/{machformLogoMain}")" style="margin-left: 8px;" />
							}
							else
							{
								if (!string.IsNullOrWhiteSpace(Settings.Value.General.AdminTheme))
								{
									// machformLogoMain = $"{baseUrl}/images/machform_logo_{Settings.Value.General.AdminTheme}.png";
									machformLogoMain = $"{baseUrl}/images/machform_logo.png";
								}
								else
								{
									machformLogoMain = $"{baseUrl}/images/machform_logo_vibrant.png";
								}

								<img class="title" src="@(machformLogoMain)" style="margin-left: 8px;width: 150px" alt="MachForm" />
							}
						}
					</a>
				</div>

				@{
					GlobalModel.CurrentNavTab = ViewBag.CurrentNavTab ?? "manage_forms";
					var curNavTab = GlobalModel.CurrentNavTab == "manage_forms" ? "current_page_item" : "";
				}
				<div id="header_primary">
					<div class="nav_manage_forms @(curNavTab)">
						<a href="@Url.Action("Index", "ManageForms")"><span class="icon-document2"></span> <h6>Forms</h6></a>
					</div>
					@{
						var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
						GlobalModel.UserPrivilege = _permissionService.GetUserPrivileges(userId);
					}
					@if ((await GlobalModel.UserPrivilege)["NewThemes"])
					{
						<div class="nav_themes @(GlobalModel.CurrentNavTab == "edit_theme" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "EditTheme")" title="Edit Themes"><span class="icon-magic-wand"></span> <h6>Themes</h6></a>
						</div>
					}

					@if ((await GlobalModel.UserPrivilege)["IsAdminister"])
					{
						<div class="nav_users @(GlobalModel.CurrentNavTab == "users" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "ManageUsers")" title="Users"><span class="icon-user1"></span> <h6>Users</h6></a>
						</div>
						<div class="nav_settings @(GlobalModel.CurrentNavTab == "main_settings" ? "current_page_item" : "")">
							<a href="@Url.Action("Index", "MainSettings")" title="Settings"><span class="icon-cog"></span> <h6>Settings</h6></a>
						</div>
					}
					@{
						GlobalModel.CurrentNavTab = ViewBag.CurrentNavTab == "my_account" ? "current_page_item" : "";
					}

					<div class="nav_account @(GlobalModel.CurrentNavTab)">
						<a href="@Url.Action("Index", "MyAccount")" title="My Account"><span class="icon-briefcase"></span> <h6>Account</h6></a>
					</div>
				</div>

				<div id="header_secondary">
					<div class="nav_logout">
						<a href="@Url.Action("Logout", "Account")" title="Sign Out"><span class="icon-exit1"></span> <h6>Sign Out</h6></a>
					</div>

					@if ((await GlobalModel.UserPrivilege)["IsAdminister"])
					{
						<div class="nav_help">
							<a href="https://docs.machform.com" target="_blank" title="Help"><span class="icon-bubble-question"></span> <h6>Help</h6></a>
						</div>
					}

					@if (Settings.Value.General.CustomerName == "unregistered")
					{
						<div id="unregistered_license">
							<h6>UNREGISTERED LICENSE</h6>
						</div>
					}
				</div>
			</div>
		</header>
		<div class="container" style="width:1200px">
			<main id="main" role="main" class="pb-3">
				@RenderBody()
			</main>
			<div id="footer">
				<p class="copyright">Copyright &copy; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> 2007-@DateTime.Now.Year</p>
				<div class="clear"></div>
			</div><!-- /#footer -->
		</div>

	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
